#game-board {
    display: flex;
    flex-wrap:wrap;
    width: 450px;
    height: 450px;
    margin: 4%;
    padding: 6%;
    align-items: flex-start;  
  }
  .square {
    width: 95px;
    height: 95px;
    border: 3px solid black;
    box-sizing: border-box;
    margin: 10px;
    
    
    
  }
  #score{
    font-size: xx-large;
        margin: 200px;
        padding: 25px;
  }
  body {
background:url(https://images.alphacoders.com/712/712495.jpg)no-repeat;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background-size: cover;
  }
  header {
    font-size: xx-large;
    background-color:bisque;
    padding: 30px;
    margin: 20px;
    text-align: center;
  }